

.Pictures {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  border: 2px solid grey;
}
.Integer {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 2px solid grey;
}
.Symbol {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 20px;
  padding: 10px;
  border: 2px solid grey;
}
.Symbol span{
  padding: 10px;
  background-color: mediumvioletred;
  font-size: 30px;
  border: 2px solid black;
  color: white;
}
.Pictures span{
  padding: 10px;
  background-color: mediumvioletred;
  font-size: 30px;
  border: 2px solid black;
  color: white;
}
.Integer span{
  padding: 10px;
  background-color: mediumvioletred;
  font-size: 30px;
  border: 2px solid black;
  color: white;
}

.title{
  margin: 20px;
  padding: 10px;
  font-size: 30px;
}

.Board {
  height: 100px;
  width: 30%;
  border: 2px solid black;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Board span{
  padding: 18px;
  font-size: 30px;
  margin: 2px;
  background-color:rgb(94, 107, 231);
  color: white;
  position: relative;
  border: 2px solid black;
}

.Board span span{
  padding: 0px;
  background-color: transparent;
  color: red;
  border: 0px;
  top: -15px;
  right: -4px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.Pictures span:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.container{
  display: flex;
  justify-content: space-around;
}
.result{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
.formdiv{
  display: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.formdiv button{
  border:0px;
  padding: 10px;
  margin: 10px;
}
.formdiv input{
  padding: 15px;
  font-size: 20px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}